@import url("./variables.css");


body {
  font-family: 'GOTHIC';
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--morado);
  position: relative;
  overflow: hidden;
}

.c-checkbox, .s-checkbox {
  display: none;
}

.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form__toggle {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form {
  width: 382px;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
  visibility: visible;
  opacity: 1;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
  width: 100%;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
  color: #ff0033;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:required:valid ~ .c-form__next {
  pointer-events: initial;
  color: green;
}

.c-checkbox:nth-of-type(2):checked ~ .c-form__progress {
  width: calc(100vw / 3);
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
  visibility: hidden;
  opacity: 0;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
  width: 0;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
  visibility: visible;
  opacity: 1;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
  width: 100%;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
  color: #ff0033;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:required:valid ~ .c-form__next {
  pointer-events: initial;
  color: green;
}

.c-checkbox:nth-of-type(3):checked ~ .c-form__progress {
  width: calc((100vw / 3) + 100vw / 3);
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
  width: 0;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
  visibility: visible;
  opacity: 1;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
  width: 100%;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border,
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
  color: #ff0033;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:required:valid ~ .c-form__next {
  pointer-events: initial;
  color:    green;
}

#finish:checked ~ .c-form__progress {
  width: 100vw;
}
#finish:checked ~ .c-formContainer .c-form {
  transition: opacity 0.2s 0.1s, transform 0.3s;
  opacity: 0;
  transform: translateX(50%) scaleX(0);
}
#finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
  transition: 0s;
  visibility: hidden;
  opacity: 0;
}
#finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
  width: 0;
}

#finish:checked ~ .c-formContainer{
    height: 95%; 
    .c-welcome {
        opacity: 1;
        animation: fadeIn 3.3s ease-in-out;
     }
}

.c-formContainer {
  width: 100%;
  height: 65px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.c-welcome {
  position: absolute;
  width: 50%;
  height: inherit;
  font-size: 12px;
  color: black;
  opacity: 0;
  transition: 0.3s;
  /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);*/
  /*animation: fadeIn 5.8s ease-in-out;*/
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.c-form {
  position: relative;
  width: inherit;
  height: inherit;
  background-color: #ffffff;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.c-form__toggle {
  width: inherit;
  height: inherit;
  font-size: 18px;
  color: #333333;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-form__toggleIcon {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: 15px;
  height: 17px;
}
.c-form__toggleIcon::before, .c-form__toggleIcon::after {
  content: "";
  position: absolute;
  background-color: #565656;
}
.c-form__toggleIcon::before {
  left: 50%;
  transform: translateX(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.c-form__toggleIcon::after {
  bottom: 0;
  width: 100%;
  height: 7px;
  border-radius: 7px 7px 0 0;
}

.c-form__group {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 12px 15px;
  box-sizing: border-box;
  transition: 0.2s 0.2s;
  position: absolute;
}

.c-form__label {
  position: relative;
  cursor: pointer;
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.c-form__input {
  font-size: 20px;
  font-family: inherit;
  width: 100%;
  height: 90%;
  border: 0;
  outline: 0;
  color: #333333;
  box-sizing: border-box;
  cursor: pointer;
}
.c-form__input:focus ~ .c-form__groupLabel, .c-form__input:not(:placeholder-shown) ~ .c-form__groupLabel {
  font-size: 10px;
  top: -4px;
  transform: translateY(0);
  color: #333333;
}
.c-form__input:focus ~ .c-form__border,
.c-form__input:focus ~ .c-form__next, .c-form__input:not(:placeholder-shown) ~ .c-form__border,
.c-form__input:not(:placeholder-shown) ~ .c-form__next {
  transition: 0.3s;
}
.c-form__input:focus {
  cursor: initial;
}

.c-form__groupLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}

.c-form__border {
  position: absolute;
  width: 0;
  height: 3px;
  color: #25a3ff;
  background-color: currentColor;
  transition: 1s 0.2s ease-out;
}

.c-form__next {
  color: #25a3ff;
  position: absolute;
  right: -40px;
  height: 100%;
  width: 40px;
  cursor: pointer;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.c-form__nextIcon {
  position: relative;
  right: 1.5px;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
.c-form__nextIcon::before, .c-form__nextIcon::after {
  content: "";
  position: absolute;
  right: -1.5px;
  width: 15px;
  height: 3px;
  background-color: inherit;
}
.c-form__nextIcon::before {
  bottom: -1.5px;
  transform-origin: top right;
  transform: rotate(45deg);
}
.c-form__nextIcon::after {
  top: -1.5px;
  transform-origin: bottom right;
  transform: rotate(-45deg);
}

.c-form__progress {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--azulCielo);
  background-image: url("../img/portada_ancha.jpg");
  background-repeat:repeat-y;
  background-position: center;
    background-size:cover;
  transition: 0.3s;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    flex: 1 1 calc(33.33% - 30px);
    height: 140px;
    margin-top:40px;
    z-index: 1;
    pointer-events: initial;

}

.titulo, .info {
    position: relative;
    background: rgba(255, 255, 255,0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size:70%;
    cursor: pointer;
    pointer-events: initial;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--magenta);
    text-shadow: 2px 2px 3px black;
    z-index: 2;
    justify-content: center;
    height: -webkit-fill-available;
}

.titulo{
    display: flex;
    cursor:pointer;
   
    z-index: 3;
}

.info{
    display: flex;
    opacity: 0;
    z-index:2;
    cursor:default;
}


label.sorteos {
    background-image: url("../img/sorteo_transp.png");    
}
label.boletos {
    background-image: url("../img/boleto_estrellas_transp.png");    
}
label.ganadores {
    background-image: url("../img/ganadores_fondo.png");
}

#tarj-sorteos:checked ~ .card  label.sorteos,
#tarj-boletos:checked ~ .card  label.boletos,
#tarj-ganadores:checked ~ .card  label.ganadores {
    animation: girar90-out 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes girar90-out {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    
    }
    50% {
        transform: rotateY(90deg);
        display: none;
    }
    100% {
        transform: rotateY(180deg);
        opacity: 0;
        display: none;
        z-index: 2;
    }
}

#tarj-sorteos:checked ~ .card div.sorteos,
#tarj-boletos:checked ~ .card div.boletos,
#tarj-ganadores:checked ~ .card div.ganadores {
    animation: girar90-in 1s ease-in-out forwards;
    opacity:1;
     box-shadow: 0 4px 8px var(--azulCielo);
}


@keyframes girar90-in {
    0% {
        transform: rotateY(0deg);
        opacity: 0;
        
    }
    50% {
        transform: rotateY(90deg);
        display:flex;
        opacity: 0;
    }
    100% {
        transform: rotateY(180deg);
        opacity: 1;
        display:flex;
        z-index: 2;
    }
}

.accionesSorteos,.accionesBoletos, .accionesGanadores{
    position:relative;
    font-size: 12px;
    display: block;
    transform: rotateY(180deg);
    color:black;    
}

.acciones div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    text-shadow: none;
    cursor: pointer;
    transition: transform 1.3s, color 1.3s;
}
.acciones>div:hover {
    transform: scale(1.5);
    color: var(--magenta);
}   
.fa{
    font-size: 16px
}




.admin-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 96%;
    height: 50px;
    font-size: 13px;
    font-family: 'GOTHIC';
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    color: white;
}



@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
    .card-container {
        gap:1px
    }
    .c-welcome{
        width: 70%;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(100% - 20px);
    }
    .card-container {
        gap:1px
    }
    .c-welcome{
        width: 90%;
    }
}

.reGirar{
    animation: girar90-in 1s ease-in-out reverse;
    opacity:1;
    transform: rotateY('0deg');
}

@keyframes deReversaMammi{
    0% {
        transform: rotateY(180deg);       
        
    }
    50% {
        transform: rotateY(90deg);  
    }
    100% {
        transform: rotateY(0deg);
       
    }
} 



.divFlex{
    display:inline-flex;
    flex-direction: row;
    width: 53%;
    padding:1px 3px 1px 1px;
    text-shadow: none;
}

.id-tabla{
    text-decoration: none !important;
    text-shadow: none  !important;
    width: 20%;
    cursor:pointer;
    pointer-events: initial;
}
.iconoPagar{
    width: 20%;
    color:forestgreen;
    text-shadow: 1px 1px 1px black !important;
    cursor:pointer;
}
.tituloAdmin{
    font-size: 25px !important;
    text-align: center !important;
    justify-content: center;
    transform: rotateY(180deg);
    color: var(--morado);
    text-shadow: initial;
}
.negritas{
    font-weight: bold;
}

.divBloque {
    position: absolute;
    font-family: "GOTHIC";
    font-size: 12px;
    z-index: 20;
    display: block;
}


#lista{
    position:relative;
    width: 95%;
    height: 80%;
    overflow-y: auto;
}

.renglon{
    position: relative;
    width: 80%;
    color:black;
    padding-bottom: 3px;
    
}
.volteador{
    transform: rotateY(180deg);
    height: 90%;
    width: 75% !important;
    margin-left: 48px;
    margin-right: 118px;
    margin-top: 73px;
    margin-bottom: 65px;
    pointer-events: all;
}

.girador{
    transform: rotateY(180deg);
    height: fit-content;
    top: 47px;
    position: relative;
    display: flex;
    width: 67%;
    flex-direction: row;
    align-items: baseline;
}

