
<script src="fontawesome/js/all.js"></script>



<div class="piePagina">
    <div class="redesSociales">
        <a href="" class="vinculo ">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="vinculo ">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/gana.tu.ride.ags/?igsh=MXU2ZGFvaGhtZjc0cg%3D%3D#" target="_blank" class="vinculo ">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.whatsapp.com/channel/0029Vb5sW3WEVccFWz7auY2f" target="_blank"   class="vinculo ">
            <i class="fab fa-whatsapp"></i>
        </a>            
    </div>
    <div class="textoPie">
            <p>© 2025 Gana tu Ride Ags. Todos los derechos reservados. ☻</p>
    </div>
    
</div>

