<div class="cabecera">
<nav  class="oficiales">
    <a class="menu-icon" href="/"><img src="img/logo_circulo-chico.png"  alt=""></a>
    <button class="barra-togg" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="colapso barra-colapso" id="navbarNav">
        <ul class="menu-barra">
            <li class="menu-item">
                <!-- podemos agregar /api en la ruta si modificamo en la raiz de la ruta con /api -->
                <a class="menu-link" href="/#inicio">Inicio </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/#tituloPreguntas">Preguntas Frecuentes</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/boletos">Comprar Boleto</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/pagos">Metodos de Pago</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/#contactanos">Contactanos</a>
            </li>
        </ul>
    <!-- <form action="" class="form-inline my-2 my-lg-0">
            <input type="search" class="form-control mr-sm-2" placeholder="Buscar" aria-label="Busqueda">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Busqueda</button>
        </form>-->
    </div>
</nav>
</div>