<div class="cabecera">
<nav  class="oficiales">
    <a class="menu-icon" href="/"><img src="img/logo_circulo-chico.png"  alt=""></a>
    <button class="barra-togg" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <i id="btn-menu" class="fa-solid fa-bars fa-2x"></i>
    </button>
    <div class="colapso barra-colapso" id="contentMenu">
        <div class="menu-barra">
            <div class="menu-item">
                <!-- podemos agregar /api en la ruta si modificamo en la raiz de la ruta con /api -->
                <a class="menu-link" href="/#inicio">Inicio </a>
            </div>
            <div class="menu-item">
                <a class="menu-link" href="/#tituloPreguntas">Preguntas Frecuentes</a>
            </div>
            <div class="menu-item">
                <a class="menu-link" href="/sorteo">Comprar Boleto</a>
            </div>
            <div class="menu-item">
                <a class="menu-link" href="/pagos">Metodos de Pago</a>
            </div>
            <div class="menu-item">
                <a class="menu-link" href="/#contactanos">Contactanos</a>
            </div>
        </div>
    <!-- <form action="" class="form-indivne my-2 my-lg-0">
            <input type="search" class="form-control mr-sm-2" placeholder="Buscar" aria-label="Busqueda">
            <button type="submit" class="btn btn-outdivne-success my-2 my-sm-0">Busqueda</button>
        </form>-->
    </div>
</nav>
</div>